@model IEnumerable<MMDB_WebApp.Models.MovieVM>

@{
    string roles = "";
    ViewData["Title"] = "Index";
    if (TempData.ContainsKey("StateData"))
    {
        Dictionary<string, string> stateData = (Dictionary<string, string>)TempData["StateData"];

        roles = stateData["_Roles"] as string;
    }
    TempData.Keep();
}

@section Styles
{
    <style>
        .card{
            width: 18rem;
        }
    </style>
}


<h1>Index</h1>

@if (roles.Contains("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="container">
    <div class="row">
        <h2 class="display-4">Movies</h2>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-auto mb-2">
            <div class="card">
                @if (item.Poster != null)
                {
                    <img class="poster-img" src="~/images/Posters/@item.Poster" asp-append-version="true">
                }
                else
                {
                    <img src="~/images/Posters/not_available.jpg">
                }
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ReleaseDate)</p>
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id" class="stretched-link">Details</a>
                </div>

            </div>
        </div>
        }
    </div>
</div>
